In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

mpl.rcParams['font.family'] = 'AppleGothic'
mpl.rcParams['axes.unicode_minus'] = False

In [5]:
df = pd.read_csv('./data/학생건강검사 결과분석 rawdata_서울_2015.csv')
df.head()
df.columns

Index(['ID', '최종가중치', '학교ID', '도시규모', '도시규모별분석용', '학년도', '광역시도', '시도별', '학교급별',
       '학교명', '공학여부', '학년', '반', '성별', '건강검진일', '키', '몸무게', '혈당식전mgdl',
       '총콜레스테롤mgdl', 'ASTUL', 'ALTUL', '혈색소gdl', '간염검사', '수축기', '이완기'],
      dtype='object')

In [13]:
df.학교명.isnull().value_counts()

학교명
False    9682
Name: count, dtype: int64

In [15]:
df['학교명'].str.contains('고등학교').value_counts()

학교명
False    6150
True     3532
Name: count, dtype: int64

In [26]:
df = df.drop('초중고', axis=1)
df.columns

Index(['ID', '최종가중치', '학교ID', '도시규모', '도시규모별분석용', '학년도', '광역시도', '시도별', '학교급별',
       '학교명', '공학여부', '학년', '반', '성별', '건강검진일', '키', '몸무게', '혈당식전mgdl',
       '총콜레스테롤mgdl', 'ASTUL', 'ALTUL', '혈색소gdl', '간염검사', '수축기', '이완기'],
      dtype='object')

In [31]:
df.loc[df["학교명"].str.contains("고등"), "초중고"] = "고등학교"
df.loc[df["학교명"].str.contains("중학교"), "초중고"] = "중학교"
df.loc[df["학교명"].str.contains("초등"), "초중고"] = "초등학교"

In [40]:
df['초중고'].value_counts()

초중고
초등학교    3569
고등학교    3532
중학교     2581
Name: count, dtype: int64

In [42]:
df.groupby(["초중고", "성별"])[["몸무게"]].mean()

               몸무게
초중고  성별
고등학교 남   67.853960
     여   56.624029
중학교  남   58.613716
     여   52.320283
초등학교 남   35.234844
     여   33.474856